.container{
	color:#1fc309;
	border:1px solid #cdcdcd;
	height:100%;
	background-color:white;
}
.menu-opt:hover{
	color:#00ff80;
}
.header{
	background-color:#ff00bf;
}
#menu_nav{
	background-color:#293d29;
	color:#cdbdcd;
}